/* Basic Reset */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* Body Styling */
body {
 font-family: Trebuchet MS, sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
 background: linear-gradient(270deg, cadetblue, skyblue, 
#00ccff);
 
 /* Three-color gradient */
 background-size: 600% 600%; 
 
 /* Adjusted size for better visibility */
 animation: gradientAnimation 10s ease infinite; /* 

 Animation effect */
 color: #ffffff;
}

/* Keyframes for the gradient animation */
@keyframes gradientAnimation {
 0% { background-position: 0% 50%; }
 50% { background-position: 100% 50%; }
 100% { background-position: 0% 50%; }
}
/* Fixed-size, square Container Styling */
.form-container {
 width: 350px;
 height: 480px; /* Fixed height for square-like shape */
 padding: 44px;
 background-color: cadetblue;
 border-radius: 10px;
 box-shadow: 30px 40px 50px rgba(0, 0, 0, 0.5);
 text-align: center;
 color: whitesmoke;
 position: relative; 
 
 /* To layer properly */
 z-index: 1; 
 
 /* Ensure it appears above the gradient */
}
.form-container h2 {
 margin-bottom: 50px;
 color: darkslategray;
 font-size: 30px;
}

/* Label Styling */
label {
 display: block;
 text-align: left;
 margin: 10px 0 1px;
 color: #282c34;
 font-size: 15px;
}

/* Input Field Styling */
input[type="text"], input[type="password"] {
 width: 100%;
 padding: 8px;
 margin-bottom: 10px;
 border: 1px solid #ddd;
 border-radius: 15px;
 outline: none;
 font-size: 16px;
}

/* Button Styling */
button {
 width: 100%;
 padding: 10px;
 background-color: darkslategrey;
 color: white;
 border: none;
 border-radius: 21px;
 cursor: pointer;
 font-size: 16px;
 font-family: Trebuchet MS, sans-serif;
 transition: background-color 0.5s;
 margin: 0px;
}
button:hover {
 background-color: lightsteelblue;
}

/* Error Message Styling */
#errorMessage {
 color: red;
 margin-top: 5px;
 font-size: 12px;
}

/* Show Password Container */
.show-password {
 display: flex;
 align-items: center;
 margin-top: -10px; /* Adjust spacing as needed */
 margin-bottom: 10px; /* Consistent spacing for 
toggling */
 font-size: 14px;
}
.show-password input[type="checkbox"] {
 margin-right: 5px; 

 /* Space between checkbox and label */
  
}

